:root {
    /* colors */
    --salmon: #F58382;
    --pink: #FFB5B4;
    --hot-pink: #FE504F;
    --ice: #EBEAEB;
    --elephant: #BBB8B3;
    --armadillo: #72707B;
    --navy-gray: #32374B;
    --salmon-hot-pink-gradient: linear-gradient(45deg, var(--salmon) 75%, var(--hot-pink));

    /* shared styles for all pages */
    background: var(--ice);
    color: var(--navy-gray);
    font-family: Arial, Helvetica, sans-serif;

    /* sizing vars for desktop */
    --about-me-text-stize: small;
    --body-padding: 2vh 0;
    --contact-text-size: medium;
    --header-size: 2.5em;
    --img-width: 15rem;
    --img-wrapper-width: 85%;
    --l-col-width: 50%;
    --r-col-width: 50%;
    --row-flex-direction: row;
    --row-width: 85%;
}

/* sizing vars for mobile */
@media only screen 
  and (min-width: 300px)
  and (max-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) { 
    :root {
        --about-me-text-size: small;
        --body-padding: 2vh 1vw;
        --contact-text-size: medium;
        --header-size: 3.5rem;
        --img-width: 100%;
        --img-wrapper-width: 75%;
        --l-col-width: 100%;
        --r-col-width: 100%;
        --row-flex-direction: column;
        --row-width: 100%;
    }
}