.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.row {
  align-self: center;
  display: flex;
  flex-direction: var(--row-flex-direction);
  width: var(--row-width);
  height: 50vh;
}

.left, .right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left {
  width: var(--l-col-width);
}

.right {
  align-items: center;
  width: var(--r-col-width);
}

.profileImgWrapper {
  max-width: var(--img-wrapper-width);
}

.profileImg {
  border: 0.75rem solid var(--salmon);
  border-radius: 100%;
  box-shadow: 0 0 0 0.75rem var(--pink);
  max-width: var(--img-width);
  position: relative;
}

.loveCode {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  height: 100%;
}

.loveIcon {
  max-width: 40%;
}

.about {
  font-size: var(--about-me-text-size);
}

.pinkText {
  color: var(--hot-pink);
}

.skills {
  display: flex;
  flex-flow: row wrap;
}

.skills ul {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  padding: 0;
}

.skills li {
  border: 2px solid var(--salmon);
  border-radius: 8px;
  color: var(--armadillo);
  margin: 0 4px 6px 0;
  padding: 3px;
}

@media only screen 
  and (min-width: 300px)
  and (max-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {

  .conatiner {
    margin: 0 auto;
    max-width: 100%;
  }

  .left, .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .row {
    height: auto;
  }

  .contentWrapper, .profileImgWrapper {
    align-self: center;
  }

  .loveCode {
    display: none;   
  }
}