.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.row {
  align-self: center;
  display: flex;
  flex-direction: var(--row-flex-direction);
  /* padding: 6vw 0; */
  width: var(--row-width);
}

.left {
  display: flex;
  flex-direction: column;
  width: var(--l-col-width);
}

.right {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: var(--r-col-width);
}

.title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: var(--header-size);
  line-height: 1.15;
  margin-bottom: 0.5rem;
}

.subtitle {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
  margin-top: 0;
}

.hello {
  background-clip: border-box;
  background-color: var(--hot-pink);
  border-radius: 1rem 1rem 1rem 0; /* top left, top right, bottom right, bottom left */
  color: white;
  font-weight: bold;
  padding: 1rem 2rem;
  width: fit-content;
}

.contactContainer {
  display: flex;
  flex-direction: column;
}

.contactItem {
  display: block;
  font-size: var(--contact-text-size);
  padding: 0.5vh 0;
}

.contactIcon {
  max-width: 2rem;
  padding-right: 0.5rem;
  vertical-align: middle;
}

.profileImgWrapper {
  max-width: var(--img-wrapper-width);
}

.profileImg {
  border: 0.75rem solid var(--salmon);
  border-radius: 100%;
  box-shadow: 0 0 0 0.75rem var(--pink);
  max-width: var(--img-width);
  position: relative;
}

.emailAddress {
  display: inline;
  font-family: monospace;
}

.emailContact:hover, 
.copyEmailIcon:hover {
  color: var(--hot-pink);
  cursor: pointer;
}

.copyEmailIcon {
  align-items: center;
  display: inline-flex;
  height: 2rem;
  padding-left: 0.5rem;
  width: 2rem;
  vertical-align: middle;
}

.loveCode {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  height: 100%;
}

.loveIcon {
  max-width: 20%;
}

.about {
  font-size: var(--about-me-text-size);
}

.pinkText {
  color: var(--hot-pink);
}

.skills {
  display: flex;
  flex-flow: row wrap;
}

.skills ul {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  padding: 0;
}

.skills li {
  border: 2px solid var(--salmon);
  border-radius: 8px;
  color: var(--armadillo);
  margin: 0 4px 6px 0;
  padding: 3px;
}

.hidden {
  visibility: hidden;
}

@media only screen 
  and (min-width: 300px)
  and (max-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {

  .main {
    margin: 0 auto;
    max-width: 100%;
  }

  .left, .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .contentWrapper, .profileImgWrapper {
    align-self: center;
  }

  .loveCode {
    display: none;   
  }
}