@import './variables.css';

body {
    padding: var(--body-padding);
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2vh 2vw;
    position: relative;
}

.row {
    align-self: center;
    width: var(--row-width); 
}

.left-content {
    float: left;
    width: var(--l-col-width);
}

.right-content {
    float: right;
    width: var(--r-col-width);
}

.header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.5em;
    margin-bottom: 0.5rem;
}

.sub-header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    margin-top: 0;
}

.intro-wrapper,
.profile-img-wrapper {
    margin: auto;
    padding: var(--content-padding);
}

.profile-img-wrapper {
    max-width: var(--content-width);
}

.hello {
    background-clip: border-box;
    background-color: var(--hot-pink);
    border-radius: 1rem 1rem 1rem 0; /* top left, top right, bottom right, bottom left */
    color: white;
    font-weight: bold;
    padding: 1rem 2rem;
    width: fit-content;
}

.profile-img-wrapper {
    position: relative;
}

.profile-img {
    border: 1rem solid var(--salmon);
    border-radius: 50%;
    box-shadow: 0 0 0 1rem var(--pink);
    max-width: 100%;
    position: relative;
}

.contact-item {
    display: block;
    font-size: var(--contact-text-size);
    padding: 0.5vh 0;
}

.contact-item span.fa {
    /* font-awesome icons */
    padding-right: 0.5rem;
}

.contact-link {
    text-decoration: none;
}

.hidden {
    display: none;
}

#email-address {
    font-family: monospace;
}

#email-contact:hover {
    color: var(--hot-pink);
    cursor: pointer;
}